<%= render "default_slider" %>
<div style="margin:4%"></div>
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Welcome Message</h3>
      </div>
      <div class="panel-body">
        <p>On the outset we would like to thank you for showing interest in Bajaj Range of products and choosing Krishna Bajaj as your preferred Bajaj Dealer for getting the same. We have the pleasure of serving the Bajaj customers since September 2006   and  have served more than no, of customers .We would like to introduce ourselves as Exclusive Authorised Dealers for M/s Bajaj Auto Ltd for two wheeler products for Distt. Indore.</p>
        <p>We have outlet in Indore city, Vijay Nagar area, with services station.It is our endeavour to provide you with the best of services and the offers to make the purchase, after sale service & periodic maintinance suited to your budget.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Best Offers</h3>
      </div>
      <div class="panel-body">
        <ul>
          <li>Value Added Services</li>
          <li>Best Finance Schemes for everyone</li>
          <li>Reference Scheme - Earn Money sitting at home</li>
          <li>Best Exchange Rates</li>
          <li>Krishna Bajaj Advantage</li>
        </ul>
        <a href="/" class="btn btn-primary btn-lg pull-right">Get Offer Now</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Enquiry</h3>
      </div>
      <div class="panel-body">
        <form>
          <div class="form-group">
            <div class="col-md-2 ">
              <label>Name:</label>
            </div>
            <div class="col-md-10">
              <input type="text" class="form-control"><br>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-2">
              <label>Email:</label>
            </div>
            <div class="col-md-10">
              <input type="text" class="form-control"><br>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-2">
              <label>Mobile No.:</label>
            </div>
            <div class="col-md-10">
              <input type="text" class="form-control"><br>
            </div>
          </div>

          <div class="col-md-12">
            <div class="row">
              <div class="col-md-2">
                <label>Mode</label>
              </div>
              <div class="col-md-4">
                <div class="col-md-2">
                  <input type="radio" name="check"><br>
                </div>
                <div class="col-md-2">
                  <label>Cash</label>
                </div>
              </div>
              <div class="col-md-4">
                <div class="col-md-2">
                  <input type="radio" name="check"><br>
                </div>
                <div class="col-md-2">
                  <label>Finance</label>
                </div>
              </div>
              <div class="col-md-offset-2 col-md-4">
                <select>
                  <option value="volvo">-Select-</option>
                  <option value="volvo">10000-20000</option>
                  <option value="saab">20000-30000</option>
                  <option value="mercedes">30000-40000</option>
                  <option value="audi">40000-50000</option>
                  <option value="audi">50000 and above</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <label>Model:</label>
          </div>
          <div class="col-md-4">
            <select name="model" size="1" class="input1" id="model"> 
              <option value="select" selected="">Select</option>
              <option>CT 100</option>
              <option>PLATINA </option>
              <option>Discover 125 </option>
              <option>V 12 </option>
              <option>V 15</option>
              <option>PULSAR 135 LS</option>
              <option>PULSAR 150</option>
              <option>PULSAR 180</option>
              <option>PULSAR 220</option>
              <option>PULSAR 200 NS</option>
              <option>PULSAR 220 RS</option> 
              <option>AVENGER 150 STREET</option>
              <option>AVENGER 220 CRUISE</option>
              <option>AVENGER 220 STREET</option>
              <option>DOMINAR</option>
            </select>
          </div>

          <div class="col-md-12">
            <a href="/" class="btn btn-primary">Submit</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div style="margin:4%"></div>

<div class="row">
  <div class="col-md-8">
    <iframe width="100%" height="400" src="https://www.youtube.com/embed/JSRlOKXbRGU">
    </iframe>
  </div>
  <div class="col-md-4">
    
    <a href="/booking-vehical" target="_blank">
      <%= image_tag "online-booking.png" %>
    </a>
    

    <a href="/booking-service" target="_blank">
      <%= image_tag "bikeservicing.png" %>
    </a>

  </div>
</div>

<div style="margin:4%"></div>
<div class="container" id="testimonials-row">    
  <div class="row">
    <div class="col-md-12 column" style="background-color: #ccc;">    
      <h2 class="page-header">Testimonials <small>Our Clients Love Us!</small></h2>
      <div class="carousel slide" id="testimonials-rotate">
        <ol class="carousel-indicators">
          <li class="active" data-slide-to="0" data-target="#testimonials-rotate">
          </li>
          <li data-slide-to="1" data-target="#testimonials-rotate">
          </li>
          <li data-slide-to="2" data-target="#testimonials-rotate">
          </li>
        </ol>
        <div class="carousel-inner">
          <div class="item active"> 
            <div class="col-md-2">
            <%= image_tag "user.jpg",class: "img-circle img-responsive" %>
            </div>
            <div class="testimonials col-md-10">
              <h3>
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. - <small>Yayo Dudemous</small>
              </h3>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="item">  
            <div class="col-md-2">
            <%= image_tag "user.jpg",class: "img-circle img-responsive" %>
            </div>
            <div class="testimonials col-md-10">
              <h3>
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. - <small>Yayo Dudemous</small>
              </h3>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="item">
            <div class="col-md-2">
            <%= image_tag "user.jpg",class: "img-circle img-responsive" %></div>
            <div class="testimonials col-md-10">
              <h3>
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. - <small>Yayo Dudemous</small>
              </h3>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="pull-right">
        <a class="left" href="#testimonials-rotate" data-slide="prev"><span class="fa fa-chevron-left"></span></a>
        <a class="right" href="#testimonials-rotate" data-slide="next"><span class="fa fa-chevron-right"></span></a><div class="clearfix"></div>  
      </div>
    </div>
  </div>
</div><!--end of container-->

